<div *ngIf="customer">
  <h2>{{ customer.firstName +" "+customer.lastName +"'s" | uppercase }} Details</h2>
  <div><span class="badge">id: </span>{{customer.id}}</div>
  <div>
    <label>Firstname:
      <input [(ngModel)]="customer.firstName" placeholder="Firstname">
    </label>
  </div>
  <div>
    <label>Lastname:
      <input [(ngModel)]="customer.lastName" placeholder="Lastname">
    </label>
  </div>
  <div>
    <label>Email ID:
      <input [(ngModel)]="customer.emailId" placeholder="Email id">
    </label>
  </div>
  <div>
    <label>Mobile:
      <input [(ngModel)]="customer.mobileNumber" placeholder="Mobile">
    </label>
  </div>
</div>

<button (click)="goBack()">Back</button>
<button (click)="save()">Save</button>
