<div id="search-component" class="container-fluid">
<div class="pull-right">
  <span class="badge"> Search any book by entering its title
    <input class="btn btn-default" size="50" #searchBox id="search-box" (keyup)="search(searchBox.value)" placeholder="Enter book's title here..." />
  </span>

  <ul class="search-result">
    <li *ngFor="let book of books$ | async" >
      <div *ngIf="book">
        <a routerLink="/bookDetails/{{book.id}}">
          {{book.title}} by {{book.author}}
        </a>
      </div>
      <div *ngIf="!book">
        No results found.
      </div>
    </li>
  </ul>
</div>
</div>
