<h2>Enter Customer Details and Click on Add to Create a New Customer</h2>

<div>
  <label>Firstname:
    <input #firstName />
  </label>
  <label>Lastname:
    <input #lastName />
  </label>
  <label>Email id:
    <input #emailId />
  </label>
  <label>Mobile No:
    <input #mobileNo />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(firstName.value, lastName.value, emailId.value, mobileNo.value); firstName.value=''; lastName.value='';
  emailId.value=''; mobileNo.value='' ">
    Add
  </button>
</div>

<h2>Existing Customers are as below, click to view more details/edit:</h2>

<ul class="customers">
  <li *ngFor="let customer of customers">

    <a routerLink="/detail/{{customer.id}}">
      <span class="badge">{{customer.mobileNumber}} : </span> {{customer.lastName}}, {{customer.firstName}}
    </a>

    <button class="delete" title="delete customer"
            (click)="delete(customer)">x</button>

  </li>
</ul>

