<div>
  <h2>Existing Customers:</h2>
  <span class="label-warning">Click on name for more details or to delete click the 'X' button</span>
</div>
<div class="col-md-5">
  <ul class="list-group">
    <li *ngFor="let customer of customers; let i = index" class="list-group-item">

      <a routerLink="/detail/{{customer.id}}">
        <span>{{ i+1 }} : </span>
        {{customer.lastName}}, {{customer.firstName}}
        <span class="badge">{{ customer.emailId }}</span>
        <span class="badge">{{ customer.mobileNumber }}</span>
      </a>

      <button class="delete" title="delete customer"
              (click)="delete(customer)">x</button>

    </li>
  </ul>
</div>
